<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AngularJS Demo 1.0.12-RELEASE</title>
</head>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/app.js"></script>
<link rel="stylesheet" href="assets/css/w3c.css">
<link rel="stylesheet" href="assets/css/app.css">
<body>
<div ng-app="demoApplication" ng-cloak ng-controller="demoController" class="w3-card-2 w3-margin">
  <header class="w3-container w3-light-grey w3-padding-16">
    <h3>REST Tests - {{tstatus}}</h3>
  </header>
  <div class="DemoResultsBox" id="DemoResultsBox">
  	<pre>{{results}}</pre>
  </div>
  <div class="w3-container w3-light-grey w3-padding-16">
    <div class="w3-row w3-margin-top">
    	<button ng-click="doServiceGET('/demo/cache/add')" ng-disabled="working" class="w3-btn w3-padding w3-blue">Cache Add</button>
		<button ng-click="doServiceGET('/demo/users/increment')" ng-disabled="working" class="w3-btn w3-padding w3-blue">Increment</button>
        <button ng-click="doServiceGET('/demo/users/decrement')" ng-disabled="working" class="w3-btn w3-padding w3-blue">Decrement</button>
        <button ng-click="doServiceGET('/demo/build/descriptors')" ng-disabled="working" class="w3-btn w3-padding w3-blue">Descriptors</button>
        <button ng-click="doServiceGET('/demo/users/findusers')" ng-disabled="working" class="w3-btn w3-padding w3-blue">SQL Users</button>
        <button ng-click="doServiceGET('/demo/notfound')" ng-disabled="working" class="w3-btn w3-padding w3-red">Not Found</button>
        <button ng-click="doServiceGET('/demo/admin_only')" ng-disabled="working" class="w3-btn w3-padding w3-red">Permissions</button>
        <button ng-click="doServiceGET('/demo/always_throw')" ng-disabled="working" class="w3-btn w3-padding w3-red">Error</button>
    </div>
  </div>
</div>
</body>
</html>